                @keyframes circularMotion {
                    0% {
                        transform: rotate(0deg) translateX(80px) rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg) translateX(80px) rotate(-360deg);
                    }
                }
                
                .animated-circle {
                    width: 20px;
                    height: 20px;
                    background-color: black;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform-origin: center * 250;
                    animation: circularMotion 3s linear infinite;
                }